<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <!-- fichier css principal -->

    <link type="text/css" rel="stylesheet" href="../css/lvl-1.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- titre de la page (qui s'affiche en titre de l'onglet dans le navigateur) -->
    <title>Memory game</title>
</head>
<body>
    <section class="memory-game">
        <div class="memory-card" data-framework="aurelia">
            <img class="front-face" src="../img/aurelia.svg" alt="Aurelia">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="JS">
        </div>
        <div class="memory-card" data-framework="backbone">
            <img class="front-face" src="../img/backbone.svg" alt="Backbone">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="JS">
        </div>
        <div class="memory-card" data-framework="angular">
            <img class="front-face" src="../img/angular.svg" alt="Angular">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="JS">
        </div>
        <div class="memory-card" data-framework="ember">
            <img class="front-face" src="../img/ember.svg" alt="Ember">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="JS">
        </div>
        <div class="memory-card" data-framework="vue">
            <img class="front-face" src="../img/vue.svg" alt="Vue">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="JS">
        </div>
        <div class="memory-card" data-framework="react">
            <img class="front-face" src="../img/react.svg" alt="React">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="JS">
        </div>
        <div class="memory-card" data-framework="ember">
            <img class="front-face" src="../img/ember.svg" alt="Ember">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="JS">
        </div>
        <div class="memory-card" data-framework="aurelia">
            <img class="front-face" src="../img/aurelia.svg" alt="Aurelia">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="JS">
        </div>
        <div class="memory-card" data-framework="vue">
            <img class="front-face" src="../img/vue.svg" alt="Vue">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="JS">
        </div>
        <div class="memory-card" data-framework="react">
            <img class="front-face" src="../img/react.svg" alt="React">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="JS">
        </div>
        <div class="memory-card" data-framework="backbone">
            <img class="front-face" src="../img/backbone.svg" alt="Backbone">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="JS">
        </div>
        <div class="memory-card" data-framework="angular">
            <img class="front-face" src="../img/angular.svg" alt="Angular">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="JS">
        </div>
    </section>
        <script src="../js/lvl-1.js"></script>
</body>
</html>