<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <!-- fichier css principal -->

    <link type="text/css" rel="stylesheet" href="../css/lvl-1.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- titre de la page (qui s'affiche en titre de l'onglet dans le navigateur) -->
    <title>Memory game</title>
</head>
<body>
    <section class="memory-game">
        <div class="memory-card" data-framework="moche">
            <img class="front-face" src="../img/moche.jpg" alt="moche">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="d2">
        </div>
        
        <div class="memory-card" data-framework="chien">
            <img class="front-face" src="../img/chien.jpg" alt="chien">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="d2">
        </div>
        
        <div class="memory-card" data-framework="cemcem">
            <img class="front-face" src="../img/cemcem.jpg" alt="cemcem">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="d2">
        </div>
        <div class="memory-card" data-framework="femme">
            <img class="front-face" src="../img/femme.jpg" alt="femme">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="d2">
        </div>
        
        <div class="memory-card" data-framework="moche">
            <img class="front-face" src="../img/moche.jpg" alt="moche">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="d2">
        </div>
        <div class="memory-card" data-framework="cemcem">
            <img class="front-face" src="../img/cemcem.jpg" alt="cemcem">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="d2">
        </div>
        <div class="memory-card" data-framework="femme">
            <img class="front-face" src="../img/femme.jpg" alt="femme">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="d2">
        </div>
        
        <div class="memory-card" data-framework="chien">
            <img class="front-face" src="../img/chien.jpg" alt="chien">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="d2">
        </div>
    </section>
        <script src="../js/lvl-2.js"></script>
</body>
</html>