<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <!-- fichier css principal -->
    <link type="text/css" rel="stylesheet" href="../css/lvl-1.css">
    
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- titre de la page (qui s'affiche en titre de l'onglet dans le navigateur) -->
    <title>Memory game</title>
</head>
<body>
    <div class="displaynone">
        <!-- score et nombre de coups jouer -->
        <div>score : <span class="score">0</span>&nbsp</div>
      
        <div >coup : <span class="moves">0</span></div>
    </div>
    

    <section class="memory-game">
        
        
        <div class="memory-card" data-framework="dora">
            <img class="front-face" src="../img/dora.jpg" alt="dora">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="d1">
        </div>
        
        <div class="memory-card" data-framework="crash">
            <img class="front-face" src="../img/cartoon-deviantart-mascot-crash-bandicoot.jpg" alt="crash">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="d1">
        </div>
        <div class="memory-card" data-framework="fille">
            <img class="front-face" src="../img/fille-moche.jpg" alt="fille">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="d1">
        </div>
        
        
        <div class="memory-card" data-framework="crash">
            <img class="front-face" src="../img/cartoon-deviantart-mascot-crash-bandicoot.jpg" alt="crash">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="d1">
        </div>
        <div class="memory-card" data-framework="fille">
            <img class="front-face" src="../img/fille-moche.jpg" alt="fille">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="d1">
        </div>
        
        <div class="memory-card" data-framework="dora">
            <img class="front-face" src="../img/dora.jpg" alt="dora">
            <img class="back-face" src="../img/dos-de-carte-1.jpg" alt="d1">
        </div>
    </section>
    <section class="win"> 
        <!-- block qui annonce la victoire -->
        <h2>Vous avez gagner</h2>
        <div>score : <span class="scorewin">0</span>&nbsp</div>
        <div >coup : <span class="moveswin">0</span></div>
        <button type="button" onclick="location.href='../../index.html'" class="btn btn-outline-success offset-lg-5 col-lg-4">Rejouer</button>
    </section>

        <script src="../js/lvl-1.js"></script>
</body>
</html>