@font-face{
    /* chargement de la première police d'écriture  */ 
    font-family: sharp;
    src: url(../font/sharp_cardinal/Sharp\ Cardinal.ttf);
}
@font-face{
    /* chargement de la deuxième police d'écriture  */ 
    font-family: gloria;
    src: url(../font/gloria_hallelujah/gloriahallelujah.ttf);
}

/* mise en place du cursor patate dans tout le html */
html{
    cursor: url(../cursor/foo438.cur),auto;
}

*{
    font-family: gloria;
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    height:100vh;
    display:flex;
    background-color:white;
}

.memory-game{ /* Le css qui sera appliquer au plateau de jeu*/
    width:640px;
    height:650px;
    margin:auto;
    display:flex;
    flex-wrap: wrap;

}

.memory-card{ /* css de chaque carte*/
    width:calc(25% - 10px);
    height:calc(33.333% - 10px);
    margin:5px;
    position:relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;

}



.memory-card.flip{ 
    transform: rotateY(180deg);
}


.front-face,
.back-face {
    width:100%;
    height:100%;
    padding:20px;
    position:absolute;
    border-radius: 5px; 
    background-color:white;
    backface-visibility: hidden;
}

.front-face{
    transform: rotateY(180deg);
}

.win{
    display: none;
    margin: auto;
}